<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <partial name="Partial/BootstrapTag.cshtml" />
    
    <title>@ViewBag.Title</title>
</head>
<body dir="rtl">
    <div>
        @RenderBody()
    </div>
</body>
</html>
