@{
    //Here We Turn Dynamics Into StronglyType
    @model List<API.Controller.View.Models.Person> /* ≈ @model List<Person>*/
   
    ViewBag.Title = "Information";
}

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">آیدی</th>
            <th scope="col">نام</th>
            <th scope="col">نام خانوادگی</th>
            <th scope="col">آدرس</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>null</td>
        </tr>
    }
    </tbody>
</table>